* {
  all: unset;
}

.contenedor {
  background-color: rgba(40,40,40, 0.35);
  padding: 25px;
  border: 1.5px solid rgba(255, 255, 255, 0.80);
  border-radius: 35px;
}

.foto {
  padding: 25px;
  background-color: rgba(33, 44, 53, 0.32);
  border-radius: 50rem;
  border: 1.5px solid rgba(205, 245, 255, 0.698);
}

.textos {
  margin-left: 15px;
}

.estilo-hora {
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}

.estilo-fecha {
  font-family: "Dustismo", sans-serif;
  font-size: 30px;
  color: #CFCCCC;
}

/*
 las tipografias se buscan aqui
 fc-list :family | cut -d, -f1 | sort | uniq
 el formato para buscarla en el sistema es asi
 fc-list | grep -i "Nombre-de-la-fuente"
 */
